/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 143, 233);
}

/* Logo Styles */
.logo > img{
   margin: 0 auto;
   width: 200px;
}

.logo {
    text-align: center;
}