/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background-color: rgba(15, 143, 233,.8);
    font-family: 'Kalam', cursive;
}

/* Logo Styles */
.logo > img{
   margin: 0 auto;
   width: 200px;
}

.logo {
    text-align: center;
}

/* Game Container Styles */
.game-container {
    background-color: rgb(255, 255, 255);
    margin: 60px auto;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0px 8px rgb(128, 128, 128);
    position: relative;
}

/* Styles for Game Elements */
.game-moves {
    width: max-content;
    position: absolute;
    bottom: 10px;
    left: 140px;
    padding: 10px;
}

.elements > img {
    height: auto;
    width: 80px;
    cursor: pointer;
    margin: 10px;
}

.elements {
    display: inline-block;
}

#fire > img {
    width: 56px;
}

#snow > img {
    width: 60px;
}